<!DOCTYPE html>
<html>
<head>
	<title>Lost and Found: The Website</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body style="background-color:DarkRed;"> 
<!--Epik Title-->
	<div class="title">
		<a href="http://homer.stuy.edu/~tacuna20/lost_and_found.html"><h1 style="color:white;">Lost and Found: The Website</h1></a>
		<h2>Lost and Found Boxes</h2>   
	</div>
    
<!--Box Info-->
	<div class="main">
	<p>
    <br>
	Throughout the last few months, the lost and found area on the second floor has expanded from one lost and found box for everything, to several boxes of varying sizes. Each box is meant for each category of lost and found item, such as zippered clothing as one category, and school supplies as another.
	</p>
    <br><br>
	<p style="text-align:center;">
				<img src="img_the_scream.jpg" width="616" height="220" alt="Example 1">
				<br>The collection of lost and found boxes!
	</p>
</body>
</html>
