<!DOCTYPE html>
<html>

<head>
  <title>Lost and Found: The Website</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="https://kit.fontawesome.com/9e485ac24b.js" crossorigin="anonymous"></script>
</head>

<body>

  <!--Navigation Bar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-danger">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a class="nav-link text-light ms-5"
            href="http://homer.stuy.edu/~tacuna20/stuylostandfound/templates/home.html">Home</a></li>
        <li class="nav-item active"><a class="nav-link text-light ms-5"
            href="http://homer.stuy.edu/~tacuna20/stuylostandfound/templates/outwear.html"><i class="fa-solid fa-shirt"></i>
            Outerwear</a></li>
        <li class="nav-item active"><a class="nav-link text-light ms-5"
            href="http://homer.stuy.edu/~tacuna20/stuylostandfound/templates/gloveshatsscarves.html"><i
              class="fa-solid fa-mitten"></i> Gloves, Hats, and
            Scarves</a></li>
        <li class="nav-item active"><a class="nav-link text-light ms-5"
            href="http://homer.stuy.edu/~tacuna20/stuylostandfound/templates/personalschoolsupplies.html"><i
              class="fa-solid fa-clipboard"></i> Personal School
            Supplies</a></li>
        <li class="nav-item active"><a class="nav-link text-light ms-5"
            href="http://homer.stuy.edu/~tacuna20/stuylostandfound/templates/bookspapers.html"><i
              class="fa-solid fa-book"></i> Books, Textbooks,
            and
            Papers</a></li>
        <li class="nav-item active"><a class="nav-link text-light ms-5"
            href="http://homer.stuy.edu/~tacuna20/stuylostandfound/templates/smallitems.html"><i
              class="fa-solid fa-id-card"></i> Small Items (Room
            209)</a>
        </li>

        </form>
    </div>
  </nav>

  <!-- Epik Title -->
  <div class="container mb-3 mt-4 mb-4">
    <h1 class="display-4 fw-light">Lost and Found: The Website</h1>
    <h2 class="fw-light">A Comprehensive Catalogue</h2>
  </div>


  <!--Basic Info-->
  <div class="container mt-3">
    <p>
      As stated in the title, this website is a catalogue covering all the items contained within the <a class="oLink"
        href="http://homer.stuy.edu/~tacuna20/stuylostandfound/templates/info.html" style="text-decoration: none">various
        lost and found boxes on the
        second floor</a>. The catalogue will likely be updated at least once every school day, though this is
      not guaranteed.
      <br><br>We hope this website will prove useful in allowing one to quickly see whether an item they lost is in the
      lost and found boxes, and in which box their lost item is located in.
    </p>
  </div>

  <!--Links to Catalog Pages-->
  <div class="container mt-3">
    <p>
      The catalogue is split into five categories, corresponding to the different lost and found item types:
      <br><a href="http://homer.stuy.edu/~tacuna20/stuylostandfound/outerwear.html"><button
          class="btn btn-info mb-1 mt-1">Outerwear
        </button></a>
      <br><a href="http://homer.stuy.edu/~tacuna20/stuylostandfound/templates/gloveshatsscarves.html"><button
          class="btn btn-info mb-1">Gloves, Hats,
          and Scarves</button></a>
      <br><a href="http://homer.stuy.edu/~tacuna20/stuylostandfound/templates/personalschoolsupplies.html"><button
          class="btn btn-info mb-1">Personal School
          Supplies</button></a> (Notebooks, planners, writing utensils, etc.)
      <br><a href="http://homer.stuy.edu/~tacuna20/stuylostandfound/templates/bookspapers.html"><button
          class="btn btn-info mb-1">Books, Textbooks
          and Papers</button></a>
      <br><a href="http://homer.stuy.edu/~tacuna20/stuylostandfound/templates/smallitems.html"><button
          class="btn btn-info mb-1">Small Items (Room
          209)</button></a> (Metrocards, keychains, airpods, etc.)
    </p>
  </div>
  <br><br>

  <!--New Lost Items-->
  <h2 class="text-danger text-center">New Lost Items</h2>
  <br>

  <div id="carouselExampleCaptions" class="carousel slide bg-epic" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
        aria-label="Slide 5"></button>

      <!-- Carousel -->
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../static/permanentimages/outerwear9.jpg" class="d-block top-50 start-50 translate-middle" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5><a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwij2tX8_bf2AhUqTXIKHc6yCYcYABAJGgJxdQ&ohost=www.google.com&cid=CAESWuD29Iae_8s4mNzeoqvyjBWfofgwF2FBmzMwHZl6rQJ142TFi31N_9bhErCFdaxQVJzyOgSYvdlOJmuXCW_8WgrRm3h9LyKbzkZIcB6WwDIw7xmJY4kdc6ipSw&sig=AOD64_2k89CSEzAcdp0w8JRLrFVBppW2aA&ctype=5&q=&ved=2ahUKEwjWw8n8_bf2AhV6lYkEHflxDPQQ9aACegQIARBM&adurl="><button
                class="btn py-0 my-0 fs-4 text-white fw-normal text-shadow">Plaid Pajama Pants</button></a></h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../static/permanentimages/outerwear10.jpg" class="d-block top-50 start-50 translate-middle" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5><a href="https://www.uniqlo.com/us/en/women-heattech-leggings-444145.html"><button
                class="btn py-0 my-0 fs-4 text-white fw-normal text-shadow">Uniqlo
                 Heattech Leggings</button></a></h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../static/permanentimages/water18.jpg" class="d-block top-50 start-50 translate-middle" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="btn py-0 my-0 fs-4 text-white fw-normal text-shadow">Light blue water bottle</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../static/permanentimages/outerwear8b.jpg" class="d-block top-50 start-50 translate-middle" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5><a href="https://poshmark.com/listing/Try-Guys-hoodie-5cb36015afade855b41a309b"><button
                class="btn py-0 my-0 fs-4 text-white fw-normal text-shadow">Try
                Guys Hoodie</button></a></h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../static/permanentimages/hat2.jpg" class="d-block top-50 start-50 translate-middle" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="btn py-0 my-0 fs-4 text-white fw-normal text-shadow">Green Beanie</h5>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br><br>

  <h2 class="text-danger text-center fs-4">Contact Information</h2>
  <div class="container mt-3">
    <p>
      Email: stuylostandfound@gmail.com
      <br>Alternatively: Either asevilla20@stuy.edu or tacuna20@stuy.edu
      <br>Emails sent to stuylostandfound@gmail.com will likely be responded to within a day, while emails sent to
      alternative emails may take a longer time to be responded to.
    </p>
    <br>
    <a
    href="homer.stuy.edu/~tacuna20/stuylostandfound/templates/credits.html"><h3 class="text-danger fs-4">Credits</h3></a>
  </div>
  <br><br><br>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>