<!DOCTYPE html>
<html>

<head>
    <title>Lost and Found: The Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/9e485ac24b.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Navigation Bar -->

    <nav class="navbar navbar-expand-lg navbar-light bg-danger">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link text-light ms-5"
                    href="homer.stuy.edu/~tacuna20/lost_and_found.html">Home</a></li>
            <li class="nav-item active"><a class="nav-link text-light ms-5 activated"
                    href="http://homer.stuy.edu/~tacuna20/lost_and_found_zippered.html"><i class="fa-solid fa-shirt"></i></a></li>
            <li class="nav-item active"><a class="nav-link text-light ms-5"
                    href="http://homer.stuy.edu/~tacuna20/lost_and_found_gloves_hats_scarves.html"><i class="fa-solid fa-mitten"></i></a></li>
            <li class="nav-item active"><a class="nav-link text-light ms-5"
                    href="http://homer.stuy.edu/~tacuna20/lost_and_found_gloves_hats_scarves.html"><i class="fa-solid fa-clipboard"></i></a></li>
            <li class="nav-item active"><a class="nav-link text-light ms-5"
                    href="http://homer.stuy.edu/~tacuna20/lost_and_found_gloves_hats_scarves.html"><i class="fa-solid fa-book"></i></a></li>
            <li class="nav-item active"><a class="nav-link text-light ms-5"
                    href="http://homer.stuy.edu/~tacuna20/lost_and_found_gloves_hats_scarves.html"><i class="fa-solid fa-id-card"></i></a>
            </li>

                </form>
        </div>
    </nav>

    <div class="container mb-3 mt-4 mb-4">
        <h2 class="fw-light">Outerwear</h2>
    </div>

    <!-- Catalog Table -->
    <div class=main>
        <p>
        <table style="width:100%;font-family:Trebuchet MS;">
            <tr>
                <th>Image</th>
                <th>Date Catalogued</th>
                <th>Description</th>
                <th>Object Store Page</th>
            </tr>
            <tr>
                <td><br><img src="../static/permanentimages/outerwear1a.jpg" width="150" height="200" alt="outerwear1a">
                    <img src="../static/permanentimages/outerwear1b.jpg" width="150" height="200" alt="outerwear1b"></td>
                <td>3/7/22</td>
                <td>[These are two separate jackets: Revise later]</td>
                <td><a class="uHover" href="https://en.wikipedia.org/wiki/Thermobaric_weapon">N/A</a></td>
            </tr>

            <tr style="background-color:#b8b8b8">
                <td><img src="../static/permanentimages/outerwear2a.jpg" width="150" height="200" alt="outerwear2a">
                    <img src="../static/permanentimages/outerwear2b.jpg" width="150" height="200" alt="outerwear2b"></td>
                <td>3/7/22</td>
                <td>Black puffer jacket, Uniqlo</td>
                <td><a class="uHover" href="https://www.uniqlo.com/us/en/men-ultra-light-down-parka-443320.html">Men Ultra Light Down Parka (09 Black)</a></td>
            </tr>
            <tr>
                <td><img src="../static/permanentimages/outerwear3a.jpg" width="150" height="200" alt="outerwear3a">
                    <img src="../static/permanentimages/outerwear3b.jpg" width="150" height="200" alt="outerwear3b"></td>
                <td>3/7/22</td>
                <td>Light gray fleece, Old Navy</td>
                <td><a class="uHover" href="https://oldnavy.gap.com/browse/product.do?pid=645935#pdp-page-content">Dynamic Fleece Full-Zip Hoodie for Men</a></td>
            </tr>
            <tr style="background-color:#b8b8b8">
                <td><img src="../static/permanentimages/outerwear4a.jpg" width="150" height="200" alt="outerwear4a">
                    <img src="../static/permanentimages/outerwear4b.jpg" width="150" height="200" alt="outerwear4b"></td>
                <td>3/7/22</td>
                <td>Black Faux Fur Hoodie, 1/4 Zip</td>
                <td>TBD</td>
            </tr>
            <tr>
                <td><img src="../static/permanentimages/outerwear5a.jpg" width="150" height="200" alt="outerwear5a">
                    <img src="../static/permanentimages/outerwear5b.jpg" width="150" height="200" alt="outerwear5b"></td>
                <td>3/7/22</td>
                <td>White hoodie with design</td>
                <td>TBD</td>
            </tr>
            <tr style="background-color:#b8b8b8">
                <td><img src="../static/permanentimages/outerwear6a.jpg" width="150" height="200" alt="outerwear6a">
                    <img src="../static/permanentimages/outerwear6b.jpg" width="150" height="200" alt="outerwear6b"></td>
                <td>3/7/22</td>
                <td>Blue sweatpants in HRC plastic bag</td>
                <td>TBD</td>
            </tr>
        </table>
        </p>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>