<!DOCTYPE html>
<html>

<head>
    <title>Lost and Found: The Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/9e485ac24b.js" crossorigin="anonymous"></script>
</head>

<body>
    
    <!--Navigation Bar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-danger">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link text-light ms-5"
                        href="http://homer.stuy.edu/~tacuna20/stuylostandfound/templates/home.html">Home</a></li>
                <li class="nav-item active"><a class="nav-link text-light ms-5"
                        href="http://homer.stuy.edu/~tacuna20/stuylostandfound/templates/outerwear.html"><i
                            class="fa-solid fa-shirt"></i>
                        Outerwear</a></li>
                <li class="nav-item active"><a class="nav-link text-light ms-5"
                        href="http://homer.stuy.edu/~tacuna20/stuylostandfound/templates/gloveshatsscarves.html"><i
                            class="fa-solid fa-mitten"></i> Gloves, Hats, and
                        Scarves</a></li>
                <li class="nav-item active"><a class="nav-link text-light ms-5 activated"
                        href="http://homer.stuy.edu/~tacuna20/stuylostandfound/templates/personalschoolsupplies.html"><i
                            class="fa-solid fa-clipboard"></i> Personal School
                        Supplies</a></li>
                <li class="nav-item active"><a class="nav-link text-light ms-5"
                        href="http://homer.stuy.edu/~tacuna20/stuylostandfound/templates/bookspapers.html"><i
                            class="fa-solid fa-book"></i> Books, Textbooks,
                        and
                        Papers</a></li>
                <li class="nav-item active"><a class="nav-link text-light ms-5"
                        href="http://homer.stuy.edu/~tacuna20/stuylostandfound/templates/smallitems.html"><i
                            class="fa-solid fa-id-card"></i> Small Items (Room
                        209)</a>
                </li>

                </form>
        </div>
    </nav>

    <div class="container mb-3 mt-4 mb-4">
        <h2 class="fw-light">Personal School Supplies</h2>
    </div>

    <h3 class="text-danger fw-light text-center">Lost Items</h3>
    <!-- Catalogue Table -->
    <div class=main>
        <p>
        <table style="width:100%;font-family:Trebuchet MS;">
            <tr>
                <th>Image</th>
                <th>Date Catalogued</th>
                <th>Description</th>
                <th>Object Store Page</th>
            </tr>
            <tr>
                <td><br><img src="../static/permanentimages/lunchbox1.jpg" width="150" height="200" alt="lunchbox1">
                </td>
                <td>3/7/22</td>
                <td>Dark blue lunchbox with smiley faces, Lands' End</td>
                <td><a class="uHover"
                        href="https://poshmark.com/listing/Lands-End-happy-face-blue-lunch-box-5f467f7ae131641a8fda6e75#utm_source">Lands'
                        End Happy Face Blue Lunch Box</a></td>
            </tr>

            <tr style="background-color:#b8b8b8">
                <td><img src="../static/permanentimages/lunchbox2.jpg" width="150" height="200" alt="lunchbox2"></td>
                <td>3/7/22</td>
                <td>Dark blue camo lunchbox, Lands' End</td>
                <td><a class="uHover"
                        href="https://development-web-landsend.demandware.net/s/LandsEndUK/Kids_ClassMate_Soft-sided_Lunch_Box_Print/pp/P_40691.html">Lands'
                        End Soft-sided Lunch Box, Print (Design N/A)</a></td>
            </tr>
            <tr>
                <td><img src="../static/permanentimages/umbrella3.jpg" width="150" height="200" alt="umbrella3"></td>
                <td>3/7/22</td>
                <td>White umbrella with painted flower design</td>
                <td>TBD</td>
            </tr>
            <tr style="background-color:#b8b8b8">
                <td><img src="../static/permanentimages/water1.jpg" width="150" height="200" alt="water1"></td>
                <td>3/7/22</td>
                <td>Red metallic water bottle, Goods&Fleet</td>
                <td><a class="uHover"
                        href="https://www.flipkart.com/goods-fleet-thermosteel-hot-cold-water-bottle-red-500-ml-double-insulated-wall-ml-bottle/p/itm81f71f4ef6b98">Goods&Fleet
                        Thermosteel Hot & Cold Water Bottle</a></td>
            </tr>
            <tr>
                <td><img src="../static/permanentimages/water2.jpg" width="150" height="200" alt="water2"></td>
                <td>3/7/22</td>
                <td>Blue metallic water bottle with handle</td>
                <td><a class="uHover" href="https://www.mercari.com/us/item/m42349012475">Water Bottles</a></td>
            </tr>
            <tr style="background-color:#b8b8b8">
                <td><img src="../static/permanentimages/water4.jpg" width="150" height="200" alt="water4"></td>
                <td>3/7/22</td>
                <td>Orchid-patterned water bottle, Swell</td>
                <td><a class="uHover" href="https://elmcitymarketdelivers.com/swell-bottle-snow-orchid-17oz/">Swell Snow
                        Orchid Bottle</a></td>
            </tr>
            <tr>
                <td><img src="../static/permanentimages/water5.jpg" width="150" height="200" alt="water5"></td>
                <td>3/7/22</td>
                <td>Pastel pink water bottle</td>
                <td><a class="uHover"
                        href="https://www.sassandbelle.co.uk/living/travel/water-bottles-travel-mugs/pastel-pink-stainless-steel-water-bottle">Pastel
                        Pink Stainless Steel Water Bottle</a></td>
            </tr>
            <tr style="background-color:#b8b8b8">
                <td><img src="../static/permanentimages/water6.jpg" width="150" height="200" alt="water6"></td>
                <td>3/7/22</td>
                <td>Pink metallic water bottle with stickers, MIRA</td>
                <td><a class="uHover"
                        href="https://www.walmart.com/ip/MIRA-Stainless-Steel-Vacuum-Insulated-Water-Bottle-Leak-proof-Double-Walled-Cola-Shape-Keeps-Drinks-Cold-24-hours-Hot-12-Rose-Pink-17-oz-500-ml-0-53-/544387587">MIRA
                        Stainless Steel Vacuum Insulated Water Bottle (Rose Pink)</a></td>
            </tr>
            <tr>
                <td><img src="../static/permanentimages/water8.jpg" width="150" height="200" alt="water8"></td>
                <td>3/7/22</td>
                <td>Metallic water bottle with white bezzel, Swell</td>
                <td>TBD</td>
            </tr>
            <tr style="background-color:#b8b8b8">
                <td><img src="../static/permanentimages/water9.jpg" width="150" height="200" alt="water9"></td>
                <td>3/7/22</td>
                <td>Dark blue water bottle</td>
                <td>TBD</td>
            </tr>
            <tr>
                <td><img src="../static/permanentimages/water10.jpg" width="150" height="200" alt="water10"></td>
                <td>3/7/22</td>
                <td>Red water bottle, Colin Powell School</td>
                <td><a class="uHover"
                        href="https://bennys-campus-store.myshopify.com/products/colin-powell-school-water-bottle">Colin
                        Powell School Water Bottle</a></td>
            </tr>
            <tr style="background-color:#b8b8b8">
                <td><img src="../static/permanentimages/water12.jpg" width="150" height="200" alt="water12"></td>
                <td>3/7/22</td>
                <td>Dark blue metallic water bottle with white cap, Subzero</td>
                <td><a class="uHover"
                        href="https://www.shopyourway.com/m/subzero-20-oz-vacuum-double-wall-bottle-blue/721647449">Subzero
                        Vacuum Double-Wall Bottle
                        Stainless Steel (Matte Blue)</a></td>
            </tr>
            <tr>
                <td><img src="../static/permanentimages/water14.jpg" width="150" height="200" alt="water14"></td>
                <td>3/7/22</td>
                <td>Gray metallic water bottle with dog decor</td>
                <td><a class="uHover"
                        href="https://outerlayer.com/collections/accessories/products/dog-days-travel-mug">Dog Days
                        Travel Mug</a></td>
            </tr>
            <tr style="background-color:#b8b8b8">
                <td><img src="../static/permanentimages/water15.jpg" width="150" height="200" alt="water15"></td>
                <td>3/7/22</td>
                <td>Dark blue metallic water bottle with dark blue cover</td>
                <td><a class="uHover"
                        href="https://www.amazon.com/Zojirushi-SM-KHE48AG-Stainless-Steel-16-Ounce/dp/B005PO9T44">Zojirushi
                        Stainless Steel Mug, Smoky Blue</a></td>
            </tr>
            <tr>
                <td><img src="../static/permanentimages/water16.jpg" width="150" height="200" alt="water16"></td>
                <td>3/7/22</td>
                <td>Transparant water bottle with gray cover and sticker</td>
                <td>TBD</td>
            </tr>
            <tr style="background-color:#b8b8b8">
                <td><img src="../static/permanentimages/water17.jpg" width="150" height="200" alt="water17"></td>
                <td>3/7/22</td>
                <td>Dark blue thermos with metallic cover</td>
                <td><a class="uHover" href="https://www.next.us/en/style/st545314/749298">Thermos 470ml GTB Stainless
                        King Food Flask</a></td>
            </tr>
            <tr>
                <td><img src="../static/permanentimages/water19.jpg" width="150" height="200" alt="water19"></td>
                <td>3/10/22</td>
                <td>Black metallic water bottle with black spout cover</td>
                <td><a class="uHover"
                        href="https://www.amazon.com/Takeya-50041-Originals-Vacuum-Insulated-Stainless-Steel/dp/B01CQUX96S">Takeya
                        Black Vacuum-Insulated Stainless-Steel Water Bottle</a></td>
            </tr>
            <tr style="background-color:#b8b8b8">
                <td><img src="../static/permanentimages/case1.jpg" width="150" height="200" alt="case1"></td>
                <td>3/10/22</td>
                <td>Blue pencil case with plastic opening</td>
                <td>TBD</td>
            </tr>
            <tr>
                <td><img src="../static/permanentimages/case2.jpg" width="150" height="200" alt="case2"></td>
                <td>3/10/22</td>
                <td>Dark blue pouch</td>
                <td>TBD</td>
            </tr>
            <tr style="background-color:#b8b8b8">
                <td><img src="../static/permanentimages/umbrella6.jpg" width="150" height="200" alt="umbrella6"></td>
                <td>3/11/22</td>
                <td>Green umbrella</td>
                <td>TBD</td>
            </tr>
        </table>
        </p>
    </div>
    <br><br><br>

    <!-- Found Items -->
    <h3 class="text-danger fw-light text-center">Found Items</h3>

    <!-- Found Items Table -->
    <div class=main>
        <p>
        <table style="width:100%;font-family:Trebuchet MS;">
            <tr>
                <th>Image</th>
                <th>Date Catalogued</th>
                <th>Description</th>
                <th>Object Store Page</th>
            </tr>
            <tr>
                <td><img src="../static/permanentimages/water3.jpg" width="150" height="200" alt="water3"></td>
                <td>3/7/22</td>
                <td>Teal wood textured water bottle, Swell</td>
                <td><a class="uHover" href="https://www.shopelle.com/products/swell-teal-wood">Swell Teal Wood</a></td>
            </tr>
            <tr style="background-color:#b8b8b8">
                <td><img src="../static/permanentimages/water7.jpg" width="150" height="200" alt="water7"></td>
                <td>3/7/22</td>
                <td>Metallic water bottle with Christa McAuliffe School sticker</td>
                <td>TBD</td>
            </tr>
            <tr>
                <td><img src="../static/permanentimages/water11.jpg" width="150" height="200" alt="water11"></td>
                <td>3/7/22</td>
                <td>Matte blue water bottle, Zojirushi</td>
                <td><a class="uHover"
                        href="https://www.amazon.com/Zojirushi-SM-SD48AM-Stainless-Steel-16-Ounce/dp/B0746BXMZX">Zojirushi
                        Stainless Steel (Matte Blue)</a></td>
            </tr>
            <tr style="background-color:#b8b8b8">
                <td><img src="../static/permanentimages/water18.jpg" width="150" height="200" alt="water18"></td>
                <td>3/8/22</td>
                <td>Light blue water bottle with black spout cover</td>
                <td>TBD</td>
            </tr>
            <tr>
                <td><img src="../static/permanentimages/umbrella5.jpg" width="150" height="200" alt="umbrella5"></td>
                <td>3/7/22</td>
                <td>Shiny silver umbrella with red underside</td>
                <td>TBD</a></td>
            </tr>
            <tr style="background-color:#b8b8b8">
                <td><img src="../static/permanentimages/water13.jpg" width="150" height="200" alt="water10"></td>
                <td>3/7/22</td>
                <td>Gray plastic water bottle with volume indicators</td>
                <td><a class="uHover"
                        href="https://www.cgtrader.com/3d-models/food/beverage/reusable-plastic-water-bottle">Reusable
                        Plastic Water Bottle 3D model</a></td>
            </tr>
        </table>
        </p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>