<!DOCTYPE html>
<html>

<head>
    <title>Lost and Found: The Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/9e485ac24b.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Navigation Bar -->

    <nav class="navbar navbar-expand-lg navbar-light bg-danger">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link text-light ms-5"
                    href="homer.stuy.edu/~tacuna20/lost_and_found.html">Home</a></li>
            <li class="nav-item active"><a class="nav-link text-light ms-5"
                    href="http://homer.stuy.edu/~tacuna20/lost_and_found_zippered.html"><i class="fa-solid fa-shirt"></i></a></li>
            <li class="nav-item active"><a class="nav-link text-light ms-5"
                    href="http://homer.stuy.edu/~tacuna20/lost_and_found_gloves_hats_scarves.html"><i class="fa-solid fa-mitten"></i></a></li>
            <li class="nav-item active"><a class="nav-link text-light ms-5 activated"
                    href="http://homer.stuy.edu/~tacuna20/lost_and_found_gloves_hats_scarves.html"><i class="fa-solid fa-clipboard"></i></a></li>
            <li class="nav-item active"><a class="nav-link text-light ms-5"
                    href="http://homer.stuy.edu/~tacuna20/lost_and_found_gloves_hats_scarves.html"><i class="fa-solid fa-book"></i></a></li>
            <li class="nav-item active"><a class="nav-link text-light ms-5"
                    href="http://homer.stuy.edu/~tacuna20/lost_and_found_gloves_hats_scarves.html"><i class="fa-solid fa-id-card"></i></a>
            </li>

                </form>
        </div>
    </nav>

    <div class="container mb-3 mt-4 mb-4">
        <h2 class="fw-light">Personal School Supplies</h2>
    </div>

    <!-- Catalog Table -->
    <div class=main>
        <p>
        <table style="width:100%;font-family:Trebuchet MS;">
            <tr>
                <th>Image</th>
                <th>Date Catalogued</th>
                <th>Description</th>
                <th>Object Store Page</th>
            </tr>
            <tr>
                <td><img src="img_the_scream.jpg" width="150" height="200" alt="Example 1"></td>
                <td>3/3/22</td>
                <td>Example 1, very nifty</td>
                <td><a class="uHover" href="https://en.wikipedia.org/wiki/Thermobaric_weapon">Example 1</a></td>
            </tr>

            <tr style="background-color:#b8b8b8">
                <td><img src="img_the_scream.jpg" width="150" height="200" alt="Example 2"></td>
                <td>3/3/22</td>
                <td>Example 2, nifty but not as much</td>
                <td><a class="uHover" href="https://en.wikipedia.org/wiki/M777_howitzer">Example 2</a></td>
            </tr>
            <tr>
                <td><img src="img_the_scream.jpg" width="150" height="200" alt="Example 2"></td>
                <td>3/3/22</td>
                <td>Example 3, not really nifty</td>
                <td><a class="uHover" href="https://en.wikipedia.org/wiki/M61_Vulcan">Example 3</a></td>
            </tr>
            <tr style="background-color:#b8b8b8">
                <td><img src="img_the_scream.jpg" width="150" height="200" alt="Example 4"></td>
                <td>3/3/22</td>
                <td>Example 4, very funni</td>
                <td><a class="uHover" href="https://en.wikipedia.org/wiki/M60_machine_gun">Example 4</a></td>
            </tr>
            <tr>
                <td><img src="img_the_scream.jpg" width="150" height="200" alt="Example 5"></td>
                <td>3/3/22</td>
                <td>Example 5, still quite funni</td>
                <td><a class="uHover" href="https://en.wikipedia.org/wiki/M240_machine_gun">Example 5</a></td>
            </tr>
        </table>
        </p>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>